/*article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}*/

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

@media (min-width: 640px){
    .section-about, .section-testimonials{
        background-size: contain !important;
    }
}
@media (max-width: 639px){
    .section-about, .section-testimonials{
        background-size: auto 60vh !important;
        padding-bottom: 50vh;
    }
}

.woocommerce img, .woocommerce-page img {
    @apply mx-auto;
}

.woocommerce-loop-product__link{
    @apply flex flex-col text-center;
}
.woocommerce-loop-product__link .size-woocommerce_thumbnail{
    @apply rounded-full bg-white border-4 border-primary mx-auto;
}
.added_to_cart{
    @apply col-span-2 order-last text-green-600;

}
.added_to_cart::after{
    content: ' →';
}
.woocommerce-loop-product__title{
    @apply uppercase text-primary font-serif text-xl font-bold my-8;
}

/*.woocommerce-loop-product__customdesc{
    @apply uppercase text-primary font-serif text-xl font-bold my-8;
}*/

.woocommerce-tabs{
    /*@apply p-8;*/
}
.related.products{
    /*@apply p-8;*/
}

.related.products > h2{
    @apply bg-gray-600 p-4 text-white inline-block;
}

.related.products .products{
    @apply bg-gray-50 p-8 text-white;
}

.wc-tabs{
    @apply flex;
}
.wc-tabs .active{
    @apply bg-gray-50 text-gray-700;
}

.woocommerce-Tabs-panel{
    @apply bg-gray-50 p-8;
}

.woocommerce-Tabs-panel h2{
    @apply text-gray-700 font-bold mb-8;
}


.woocommerce div.product .woocommerce-tabs ul.tabs{
  padding: 0 0;
  margin: 0 0;
  border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{
  border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
  @apply bg-gray-600 p-4 text-white font-normal;
  color: #fff !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li{
  padding: 0 0;
  margin: 0 0;
  border: none
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before{
  display: none;
}

.woocommerce div.product .woocommerce-tabs .panel{
  padding: 1rem 1rem;
}

main p{
    @apply pb-4;
}

/* Contact Form */
.wpcf7 {

    input {
      @apply block w-full px-4 py-3 mb-3 leading-tight border appearance-none text-primary font-semibold rounded;
      &:focus {
        @apply outline-none;
      }
    }
  
    textarea {
      @apply block w-full px-4 py-3 mb-3 leading-tight rounded border appearance-none text-primary font-semibold;
      &:focus {
        @apply outline-none;
      }
    }
  
    .wpcf7-submit {
      @apply py-2 mr-auto w-40 mt-3 text-lg font-bold text-white border-2 border-transparent bg-primary rounded shadow-md;
      &:hover {
        @apply bg-white text-primary border-primary shadow-lg;
      }
      &:focus {
        @apply outline-none;
      }
    }
  
    .wpcf7-form {
      @apply flex flex-wrap justify-center w-full max-w-lg mx-auto;
      &.sent {
        .wpcf7-form-control-wrap {
          @apply hidden;
        }
      }
    }
  
    .wpcf7-form-control-wrap {
      @apply w-full px-3 mb-0;
    }
  
    .wpcf7-not-valid {
      @apply border-red-600;
    }
  
    .wpcf7-not-valid-tip {
      @apply font-semibold text-xs text-red-600 block mb-1 -mt-1;
    }
  
    .wpcf7-response-output {
      @apply rounded border text-sm font-bold mt-0 my-auto relative;
  
      &.wpcf7-validation-errors {
        @apply border-red-600 text-red-600;
      }
  
      &.wpcf7-mail-sent-ok {
        @apply text-primary border-primary;
      }
    }
  
  }

  /* Cart */

  .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    @apply py-2 mr-auto w-40 mt-3 text-lg font-bold text-white border-2 border-transparent bg-primary rounded shadow-md;
      &:hover {
        @apply bg-white text-primary border-primary shadow-lg;
      }
      &:focus {
        @apply outline-none;
      }
  }

  /* Checkout Form */

  .woocommerce-checkout {

    input {
      @apply block w-full px-4 py-3 mb-3 leading-tight border appearance-none text-primary font-semibold rounded;
      &:focus {
        @apply outline-none;
      }
    }
  
    textarea {
      @apply block w-full px-4 py-3 mb-3 leading-tight rounded border appearance-none text-primary font-semibold;
      &:focus {
        @apply outline-none;
      }
    }

    h3{
        @apply text-primary font-semibold uppercase pb-4;
    }

    #place_order{
        @apply py-2 mr-auto w-40 mt-3 text-lg font-bold text-white border-2 border-transparent bg-primary rounded shadow-md;
          &:hover {
            @apply bg-white text-primary border-primary shadow-lg;
          }
          &:focus {
            @apply outline-none;
          }
    }

}

/* Submenu */
.sub-menu{
    position: absolute;
    background: #000;
    padding: 1rem;
    margin-left: -1rem;
    color: #fff;
    @apply visible md:invisible md:absolute relative pl-8;
}
.menu-item-has-children:hover .sub-menu{
    @apply visible;
    transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.sub-menu li{
    margin: 0 !important;
}

.has-submenu > a{
    position: relative;
  }
  .has-submenu > a::after{
    content: "▼";
   /* border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);*/
    top: -3px;
    right: -15px;
    position: absolute;
  }


  .product .summary{
    @apply bg-white p-8 rounded-lg;
  }

  .single-product-main-image .slick-list{
    @apply !mx-0;
  }

  .single-product-main-image .slick-slide{
    @apply !w-auto;
  }

  .entry-content{
    a {
      @apply text-primary underline;
    }
  }

  blockquote {
    font-weight: 100;
    line-height: 1.4;
    position: relative;
    margin: 0;
  }
  
  blockquote:before,
  blockquote:after {
    position: absolute;
    color: #f1efe6;
    font-size: 8rem;
    width: 4rem;
    height: 4rem;
  }
  
  blockquote:before {
    content: '“';
    left: -5rem;
    top: -2rem;
  }
  
  blockquote:after {
    content: '”';
    right: -5rem;
    bottom: 1rem;
  }
  
  cite {
    line-height: 3;
    text-align: left;
  }
